<header xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/movies">MOVIE TICKET SHOP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul th:if="${session.user != null}" class="navbar-nav m-auto">
          <li class="nav-item m-auto">
            <a class="nav-link active" href="/movies">Movies</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link active" href="/ticket">TicketOrders</a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link active" href="/productions">Productions</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li th:if="${session.user == null}" class="nav-item">
            <a class="btn btn-light btn-sm ml-3" href="/register">
              <i class="fa fa-user-plus"></i> Register
            </a>
          </li>
          <li th:if="${session.user == null}" class="nav-item">
            <a class="btn btn-light btn-sm ml-3" href="/login">
              <i class="fa fa-user"></i> Login
            </a>
          </li>
          <li class="nav-item" th:if="${session.user != null}">
            <span class="btn btn-sm ml-3" style="color: white">
              Welcome <th:block th:text="${session.user.username}"></th:block>
            </span>
          </li>
          <li th:if="${session.user != null}" class="nav-item">
            <a class="btn btn-light btn-sm ml-3" href="/logout">
              <i class="fa fa-user-times"></i> Logout
            </a>
          </li>
          <li class="nav-item" th:if="${session.user != null}">
            <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
              <i class="fa fa-shopping-cart"></i> Cart
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
